{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Subtask</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Subtask</th>
                <td>{{ entity.Subtask }}</td>
            </tr>
            <tr>
                <th>Begin</th>
                <td>{{ entity.begin|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>End</th>
                <td>{{ entity.end|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Percent</th>
                <td>{{ entity.percent }}</td>
            </tr>
            <tr>
                <th>Final</th>
                <td>{{ entity.final }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('subtask') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('subtask_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
